.space {
    margin-top: 3em;
    margin-bottom: 3em;
}
h1 {
    font-size: xx-large;
    
}
h2 {
    font-size: x-large;
    margin-top: 4em;
}
h3 {
    font-size: large;
    font-weight: bold;
}
/* colours */
:root {
    --primary: #b4cab4;
    --secondary: #566d69;
    --title: #0d5e3b;
  }
  
  /* layout styles */
  nav {
    background: var(--primary);
    border-bottom: 10px solid var(--secondary);
  }

  nav a {
    text-transform: uppercase;
    color: var(--title);
  }
  nav a span {
    font-weight: bold;
  }
  nav .sidenav-trigger {
    margin: 0;
  }
  
  /* task styles */
  .tasks {
    margin-top: 20px;
  }
  .card-panel.task {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1);
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-areas: "image details delete";
    position: relative;
  }
  .task img {
    grid-area: image;
    max-width: 60px;
  }
  .task-detail {
    grid-area: details;
    margin-top: 6px;
  }
  .item-delete {
    grid-area: delete;
    bottom: 0px;
    right: 0px;
    float: right;
  }
  .item-add {
    grid-area: add;
    bottom: 0px;
    right: 0px;
    float: right;
  }
  .task-delete i {
    font-size: 18px;
  }
  .task-title {
    font-weight: bold;
  }
  .task-ingredients {
    font-size: 0.8em;
  }
  
  /* form-styles */
  .add-btn {
    background: var(--title) !important;
  }
  input {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  .side-form button {
    background: var(--title);
    box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);
  }
  form .input-field {
    margin-top: 30px;
  }

.morning-wrapper {
  margin-bottom: 60px;
}

.evening-wrapper {
  margin-top: 60px;
}
